[user]
  name = Ville Harmaala
  email = ville.harmaala@relexsolutions.com
[core]
  excludesfile = ~/.gitignore_global
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
